
 



.nav{
  display:flex;
  justify-content: space-around;
}

.nav ul {
  display: flex;
  align-items: end;
  gap: 30px;
  color: #120101;
  font-size: 18px;
  list-style-type: none;
  font-weight: 500;
  cursor:pointer;
}

.nav li:hover{
  color:blue;
}
.nav img{
  height:40px;
  width:150px;
  margin-top: 16px;
}
input{
  border:none;
    padding:8px 60px 8px 20px;  
    background-color: #F1F1F1;
  font-size: 18px;
}

.logo{
  margin-right: 10px;
}

.form{

/* border:1px solid black; */
background-color: #F1F1F1;
margin-top: 16px;
 padding:0px 0px 0px 30px; 
}