.div{
    display:flex;
    gap:10%
}

.list li{
    display:inline-block;
    list-style:none;
    margin-right:15px;

}

.list a{
    color:#58595F;
    text-decoration: none;
}

.link{
    text-align: center;
}